@media only screen and (max-width: 768px) {
    .header-contact li{
        display:flex;
        flex-direction: column;
    }
    .header-right button{
        width: 16%;
    }
    
}
@media all  and (max-width:425px) {
    .serch-bar input,.serch-bar button{
        display: none;
    }
    .header-right button{
        width: 40%;
    }
}
@media screen and (max-width:1024px) {
    .vip-customer,.delivery,.express-delivery{
        background-image: none;
    }
}