@font-face {
    font-family: myFont;
    src: url("./fonts/orkney-light.woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: myFont;
    
    
}
hr{
    color: rgb(247, 244, 244);
    margin: 0 !important;
}
ul,ol{
    padding-left: 0 !important;
}
/* common settings end  */
/* header part one starts  */
header{
    top: 0;
    position: fixed; 
    width: 100%;
    z-index: 800;
    background-color: #fff;
}
.header-contact{
    width: 100%;
    background-color:rgb(60, 128, 49) !important;
    padding: 5px ;
    color: #fff;
    font-size: 12px;
    height: 30px;
}
.container-fluid ul{
    display: flex;
}
.container-fluid li{
    padding: 2px 5px;
}
.header-left{
    display: flex;
    justify-content: start;
}
.header-right{
    display: flex;
    justify-content: end;
}
.location-menu{
    margin-left: 3rem;
}
/* header part Two starts  */

.header-menu{
    padding: 10px 20px;
    display: flex;
    max-height: 7rem;
}
.brand-logo{
    width: 100px;
}
.serch-bar{
    margin: auto 1rem;
    position: relative;
}
.serch-bar input{
    width: 456px;
    height: 43px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #d5bebe;
    font-size: 14px;
    padding: 10px;
}
.serch-bar-li{
    margin: auto;
}

.serch-bar button{
    position: absolute;
    right: 2px;
    width: 40px;
    height: 94%;
    border: none;
    background: #fff;
    top: 2px;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(60, 128, 49);
}
.header-menu {
   margin: auto;
   border-bottom: 1px solid rgb(241, 237, 237);
}

.header-right button{
    width: 10%;
   /* margin-right: 0px; */
   border: none;
   margin: auto 0px;
    background: #fff;
}
.header-right img{
    width: 74%;
}
.cart-menu{
    position: relative;
    width: 100%;
    height: 100%;
}
.cart-counter{
    background-color: red;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    border-radius: 25px;
    font-size: 13px;
    padding: 4%;
}
/* Catogory section starts */
.catogory {
    padding-top: 11%;
    color: black;
}
.catogory ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.catogory a{
    text-decoration: none;
    color: #7755A2;
    padding: 20px;
    padding-left:0;
    font-size: 14px;
}
.catogory img
{
  width: 12% !important;
    margin-right: 0;
    padding-right: 0;
    margin-top: -8px;
}
.fish{
  width: 10%;
}
.chicken{
  width: 11%;
}
.catogory a:hover{
background-color: rgb(241, 237, 237);
color: #7755A2;
}
.carousel-indicators {
    bottom: 10px;
  }

  /* Offer carousel  */
  .offer-carousel-container img{
    border-radius: 16px
  }
  .offer-carousel-container
  {
    margin: 1.3rem;
  }
  .offer-content-section .container{
    display: flex;
    margin: 1rem auto;
    font-size: 12px;
    color: #666;
  }
  .offer-content-section .container a{
    color: #666;
  }
  .offer-content-section .container a:hover{
    color: #666;
  }
  .vip-customer
  {
    width: 40%;
    background-image: url('./images/icons/vip.png');
    padding-left: 3%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    border-right: 1px solid;
    padding-right: 1%;
    
  }
  .delivery{
    background-image: url('./images/icons/early-delivery.png');
    padding-left: 3%;
    
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    width: 40%;
    border-right: 1px solid;
    margin-left: 1%;
  }
  .express-delivery
  {
    background-image: url('./images/icons/download-app.webp');
    padding-left: 3%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    margin-left: 1%;
  }
/* ========================= flash sale section start here ===========================  */
#flash-sale{
  margin: 0;
  background-color: #F2F7F2;
  padding: 2rem 0px;

}
.flash-sale h2{
  text-align: center;
  font-size: 22px;
    font-weight: 800 !important;
    line-height: 32px;
    padding-top: 1rem;
    color: #333;
}
.card {
  margin-top: 2rem;
  border-radius: 12px !important;
  border: none;
}
  .flash-sale{
    margin: 1.3rem;
    
  }
  .card img{
    height: 12rem;
    border-radius: 10px 10px 0px 0px;
  }
  
  .card-button
  {
    position: absolute;
    top: 50%;
    left: 25%;
    padding: 0.3rem;
    border: 1px soild #7755A2;
    border: 1px solid #7755A2;
    color: #7755A2;
    font-size: 12px;
    background-color: #fff;
    display: none;
  }
  .card:hover .card-button
  {
    display: block;
  }
  .card-button i{
    font-size: 8px;
  }
  
  .card-button-side{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 12;
    padding: 0 2px;
    border: 1px solid #8b3737;
    color: #8b3737;
    font-size: 15px;
  }
  .veg-icon{
    border: 1px solid rgb(3, 102, 3) !important;
    color: rgb(3, 102, 3) !important;
    padding-top: 3px;
  }
  .flashs-sale-timer
  {
    background: linear-gradient(90deg, #f4b64d 0, #f72973 99.77%);
    border-radius: 4px;
    margin-left: 10px;
    height: 32px;
    line-height: 32px;
    font-weight: 800;
    font-size: 17px;
    color: #fff;
    width: 148px;
    text-align: center;
    padding: 0.5rem;
  }

  /* ------------------ Shop By Category ----------------  */
  .shop-by-category{
    margin: 1.3rem;
    padding: 2rem 0px;
  }
  .shop-by-category h2,.deal-of-day h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
  }
  .shop-by-category img{
    width: 60%;
  }
  .category-card{
    padding: 1rem;
    margin-top: 1rem;
    /* display: flex; */
    /* margin-right: 0rem; */
    border: 1px solid gray;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
  }
  .category-card h3{
    margin: 0 0 10px 0;
    font-size: 20px;
    transition: 0.5s;
    font-weight: 800;

  }
  del{
    text-decoration: line-through;
    text-decoration-color:red ;
    font-size: 13px;
  }
  .text-green,.price
  {
    color: #3C8031;
    font-weight: 400;
  }
  .category-card h5{
    color: #8a8a8a;
    font-weight: normal;
    font-size: 13px;
  }
  .category-card button{
    padding: 0 16px;
    background: #3c8031;
    color: #fff;
    border: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 0.5rem;
  }
  .category-card:hover 
  {
    color: #7755A2;
  }
  .category-card:hover .shop-now-ctg
  {
    background-color: #7755A2;
  }
  .shop-now-ctg i{
    font-size: 10px;
  }
  /* -------------------- Deal of the day section -----------------  */
.deal-of-day{
  margin: 1.3rem;
  padding: 1.5rem 0px;
}

/* ----------------------------- About us section --------------------  */
.about-us{
  margin: 1.3rem;
  padding: 2rem 0px;
}
.certificate-section{
  width: 15rem;
  display: flex;
  justify-content:space-between;
  
}
.certificate-section a{
  padding-right: 1rem;
}
.certificate-section img{
  width: 100% !important;

}
.about-us h2{
  font-weight: 800;
  font-size: 18px;
}
.about-us h3{
  font-size: 16px !important;
  font-weight: bold;
}
.about-us p{
  font-size: 13px;
  color: #777;
}
/* -------------------------- Footer section --------------------  */
footer
{
  font-size: 13px;
  text-align: center;
  padding: 2rem 0;
}
.ft-col{
  padding: 2rem;
  border: 1px solid #f1eeee;
}
.footer-logo{
  text-align: left;
}
.footer-logo img{
  width: 7rem;
  margin-bottom: 1rem;
  
}
.footer-address{
  text-align:left;
}
.quick-links{
  display: flex;
    justify-content: center;
  list-style-type: disc;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color:#334
}
.quick-links a{
  text-decoration: none;
  color: #333;

}
.quick-links i{
  font-size: 6px;
    color: #5c5656;
    margin: 0 20px;
}
h6{
  font-size: 14px !important;
  font-weight: 800 !important ;
}
.social-media-icons{
  display: flex;
  justify-content: center;
}
.social-media-icons i{
  color: #7755A2;
  font-size: 26px;
}

.dwnld-link {
  text-align: center;
}
.dwnld-link img{
  width: 40%;
}
.footer-section-2{
  text-align: start;
}
.footer-section-2 h3{
  font-size: 14px;
    margin: 2rem 0;
    color: #555;
}
.footer-section-2 li,.disc{
  color: #777 !important;
  font-size: 10.4px !important;

}
.heading
{
  font-size: 10.5px;
    font-weight: 600;
    color: #777;
}
.branchs
{
  display: flex;
  gap:1rem
}
.branchs li
{
  display: block !important;
}
